/.vs

/Service/.vs
/Service/bin
/Service/obj
/Service/_Archive

/ServiceDatabase/Constraints/_Archive
/ServiceDatabase/Data/Seed/_Archive
/ServiceDatabase/Functions/_Archive
/ServiceDatabase/Procedures/_Archive
/ServiceDatabase/Tables/_Archive

/ServiceTest/.vs
/ServiceTest/ServiceTest/bin
/ServiceTest/ServiceTest/obj
/ServiceTest/ServiceTest/_Archive

/WindowsService/.vs
/WindowsService/Backup
/WindowsService/Backup1

/WindowsService/ServiceConfiguration/Backup
/WindowsService/ServiceConfiguration/ServiceConfiguration/bin
/WindowsService/ServiceConfiguration/ServiceConfiguration/obj

/WindowsService/WindowsService/bin
/WindowsService/WindowsService/obj

/WindowsService/WinSvcTest/bin/Debug
/WindowsService/WinSvcTest/obj/Debug
