IF (Base.ProcedureExists('Service','PurgeJobScheduleHistory')=1)
	DROP PROCEDURE [Service].[PurgeJobScheduleHistory]

GO

/*------------------------------------------------------------------------------------------------------------
Deletes Job Schedule History rows older than the specified number of days past.
------------------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [Service].[PurgeJobScheduleHistory]
(
	@PurgeDays INT
	,@ProcessId VARCHAR(50)
)

AS

SET NOCOUNT OFF

DECLARE @ErrorCode INT = -1
DECLARE @DeletedRowCount INT = 0
DECLARE @PurgeDateStart DATETIME --= DATEADD(DAY, (@PurgeDays*-1), GETDATE())
DECLARE @UserName VARCHAR(200) = ''
DECLARE @UpdatingUserId INT = 0
DECLARE @PurgeDate DATETIME = GETDATE()
DECLARE @LogMsg VARCHAR(1000) = ''
DECLARE @SpName VARCHAR(200) = OBJECT_NAME(@@PROCID)

SELECT @UserName=SUSER_NAME()
SELECT @UpdatingUserId=UserId FROM [Base].Users WITH (NOLOCK) WHERE DefaultFlag=1

IF (@PurgeDays IS NULL) BEGIN
	SELECT @PurgeDays=CAST([Value] AS INT) FROM Base.NameValues WHERE [Name] = 'JobScheduleHistoryPurgeDays'
END
IF (@PurgeDays IS NULL) BEGIN
	SET @PurgeDays = 30  -- default
END
SET @PurgeDateStart = DATEADD(DAY, (@PurgeDays*-1), GETDATE())

IF (@ProcessId IS NULL) BEGIN
	SET @ProcessId = CAST(NEWID() AS VARCHAR(50))
END

--------------------------------------------------------------------------------------------------------------------------------------------------------------
DELETE FROM [Service].[JobScheduleHistory] WHERE ExecuteDateTimeStart<=@PurgeDateStart
SELECT @DeletedRowCount=@@ROWCOUNT, @ErrorCode=@@ERROR

IF (@ErrorCode<>0) BEGIN
	SET @LogMsg = 'Error occured while attempting to purged rows from the table JobScheduleHistory.'
	EXEC [Base].[UpdateMessageLog]
			NULL
			,@ProcessId
			,@PurgeDate
			,'High'
			,'Data purge resulted in a SQL error.'
			,'Error'
			,@LogMsg
			,'The process that purges data from the datastore as part of periodic cleanup and datastore size management'
			,@SpName
			,0
			,''
			,NULL
			,'[Service].[JobScheduleHistory]'
			,'SQL Server'
			,@SpName
			,'Error occured while attempting to purged data rows as part of the database size management process.'
			,@UserName
			,@UpdatingUserId
	RAISERROR('Error purging rows from table JobScheduleHistory. Error code=%d.',18,1,@ErrorCode)
	GOTO HANDLE_ERROR
END

SET @LogMsg = CAST(@DeletedRowCount AS VARCHAR(10)) + ' rows were purged from the table JobScheduleHistory.'
EXEC [Base].[UpdateMessageLog]
	NULL
	,@ProcessId
	,@PurgeDate
	,'Normal'
	,'Informational'
	,'Info'
	,@LogMsg
	,'The process that purges data from the datastore as part of periodic cleanup and datastore size management'
	,@SpName
	,0
	,''
	,NULL
	,'[Service].[JobScheduleHistory]'
	,'SQL Server'
	,@SpName
	,'Data was purged as part of the database size management process.'
	,@UserName
	,@UpdatingUserId

--------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT @DeletedRowCount AS [DeletedCount]

RETURN 0

HANDLE_ERROR:
RETURN -1
