IF (Base.ProcedureExists('Service','UpdateJobSchedule')=1) BEGIN
	DROP PROCEDURE [Service].[UpdateJobSchedule]
END

GO

/*------------------------------------------------------------------------------------------------------------
Inserts a new job schedule if it does not exist, otherwise the job schedule is updated.
Returns the JobScheduleId of the last updated record (insert or update).
------------------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [Service].[UpdateJobSchedule]
(
	@JobScheduleId INT
	,@JobScheduleName VARCHAR(100)
	,@Description VARCHAR(1000)
	,@JobScheduleTypeId INT
	,@JobId INT
	,@BaseDate DATETIME
	,@Month INT     -- month index; 1-12
	,@Interval INT  -- minutes
	,@Day INT       -- day of week index; 1-7; M-S
	,@Date INT      -- date of month
	,@Time INT      -- 24hr format without colon (:)
	,@IsRecurring BIT 
	,@RunAsUser VARCHAR(100)
	,@RunAsPassword VARCHAR(200)
	,@UpdateUserId INT
	,@RecordComment VARCHAR(1000)
)

AS

SET NOCOUNT ON

DECLARE @LastUpdatedId INT = -1
DECLARE @ErrorCode INT = -1

IF ( @JobId IS NULL ) BEGIN
	RAISERROR('The Job Id cannot be null.',11,1)
	GOTO HANDLE_ERROR1
END

IF ( ISNULL(@JobScheduleName,'') = '' ) BEGIN
	RAISERROR('The Job Schedule Name cannot be blank or null.',11,1)
	GOTO HANDLE_ERROR1
END

IF ( @Description IS NULL ) BEGIN
	SET @Description = ''
END

IF ( @JobScheduleTypeId IS NULL ) BEGIN
	RAISERROR('The Job Schedule Type Id cannot be blank or null.',11,1)
	GOTO HANDLE_ERROR1
END

IF ( @BaseDate IS NULL ) BEGIN
	SET @BaseDate = GETDATE()
END

IF ( (@Month IS NULL) AND (@Interval IS NULL) AND (@Date IS NULL) AND (@Day IS NULL) AND (@Time IS NULL)) BEGIN
	RAISERROR('There are no Date/Time scheduling arguments provided.',11,1)
	GOTO HANDLE_ERROR1
END

IF ((@Month IS NOT NULL) AND (@Month<1 OR @Month >12)) BEGIN
	RAISERROR('Invalid Month argument [%d].',11,1, @Month)
	GOTO HANDLE_ERROR1
END

IF ( (@Interval IS NOT NULL) AND (@Interval<1)) BEGIN
	RAISERROR('Invalid Interval argument [%d].',11,1, @Interval)
	GOTO HANDLE_ERROR1
END

IF ((@Day IS NOT NULL) AND (@Day<1 OR @Day>7)) BEGIN
	RAISERROR('Invalid Day argument [%d].',11,1, @Day)
	GOTO HANDLE_ERROR1
END

IF ((@Date IS NOT NULL) AND (@Date<1 OR @Date>31)) BEGIN
	RAISERROR('Invalid Date argument [%d].',11,1, @Date)
	GOTO HANDLE_ERROR1
END

IF (@Time IS NULL) BEGIN
	SET @Time = 0
END
ELSE BEGIN
	IF (@Time<0) BEGIN
		RAISERROR('Invalid Time argument [%d].',11,1, @Time)
		GOTO HANDLE_ERROR1
	END
END

IF (@IsRecurring IS NULL) BEGIN
	SET @IsRecurring=1
END

IF (@RunAsUser IS NULL) BEGIN
	SET @RunAsUser = ''
	SET @RunAsPassword = ''
END

IF (@RunAsPassword IS NULL) BEGIN
	SET @RunAsPassword = ''
END

IF ( @UpdateUserId IS NULL ) BEGIN
	SET @UpdateUserId = -101
	SELECT @UpdateUserId=ISNULL(UserId,-102) FROM Base.Users WHERE DefaultFlag=1
END

IF ( @RecordComment IS NULL ) BEGIN
	SET @RecordComment = ''
END


BEGIN TRANSACTION UpdateJobSchedule

	IF EXISTS(SELECT JobScheduleId FROM [Service].JobSchedules WHERE JobScheduleId=@JobScheduleId) BEGIN
		-- Update the record
		UPDATE [Service].JobSchedules
			SET JobScheduleName = @JobScheduleName
				,[Description] = @Description
				,JobScheduleTypeId = @JobScheduleTypeId
				,JobId = @JobId
				,BaseDateTime = @BaseDate
				,NextStart = @BaseDate
				,[Month] = @Month
				,[Interval] = @Interval
				,[Date] = @Date
				,[Day] = @Day
				,[Time] = @Time
				,IsRecurring = @IsRecurring
				,RunAsUser = @RunAsUser
				,RunAsPassword = @RunAsPassword
				,UpdateDate = GETDATE()
				,UpdateUserId = @UpdateUserId
				,RecordComment = @RecordComment
			WHERE JobScheduleId = @JobScheduleid
		SET @ErrorCode = @@ERROR
		IF (@ErrorCode<>0) BEGIN
			RAISERROR('Failed to UPDATE JobSchedule [%s]. Error code=%d.',18,2,@JobId,@ErrorCode)
			GOTO HANDLE_ERROR
		END
		SET @LastUpdatedId = @JobScheduleId
	END
	ELSE BEGIN
		-- Insert a new record
		INSERT 
			INTO [Service].JobSchedules (JobScheduleName
					,JobScheduleTypeId
					,JobId
					,BaseDateTime
					,[Description]
					,NextStart
					,[Month]
					,[Interval]
					,[Date]
					,[Day]
					,[Time]
					,IsRecurring
					,RunAsUser
					,RunAsPassword
					,UpdateDate
					,UpdateUserId
					,CreateUserId
					,RecordComment)
			VALUES (@JobScheduleName
					,@JobScheduleTypeId
					,@JobId
					,@BaseDate
					,@Description
					,@BaseDate
					,@Month
					,@Interval
					,@Date
					,@Day
					,@Time
					,@IsRecurring
					,@RunAsUser
					,@RunAsPassword
					,GETDATE()
					,@UpdateUserId
					,@UpdateUserId
					,@RecordComment)
		SET @ErrorCode = @@ERROR
		IF (@ErrorCode<>0) BEGIN
			RAISERROR('Failed to INSERT new JobSchedule [%s]. Error code=%d.',18,3,@JobId,@ErrorCode)
			GOTO HANDLE_ERROR
		END
		SET @LastUpdatedId = @@IDENTITY
	END

COMMIT TRANSACTION UpdateJobSchedule

UPDATE [Service].JobSchedules
SET NextStart = [Service].GetJobScheduleNextRun(@LastUpdatedId)
WHERE JobScheduleId = @LastUpdatedId

SELECT @LastUpdatedId

RETURN 0

HANDLE_ERROR:
ROLLBACK TRANSACTION UpdateJobSchedule
RETURN -1

HANDLE_ERROR1:
RETURN -2
